<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CRUD_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--COPIA DAQUI  -->
  
  <servlet>  
  <servlet-name>UserController </servlet-name>     <!-- AQUI É O NOME QUE VC DEU PARA SUA SERVLET -->
  <servlet-class>controller.UserController</servlet-class>  <!-- AQUI É O NOME DO PACOTE QUE ESTA A SERVLET E O NOME QUE VC DEU PARA SUA SERVLET -->
  </servlet>  
  <servlet-mapping>  
  <servlet-name>UserController</servlet-name>    <!-- AQUI É O NOME QUE VC DEU PARA SUA SERVLET -->
  <url-pattern>/UserController</url-pattern>   <!-- AQUI É O NOME QUE VC DEU PARA SUA SERVLET -->
  </servlet-mapping>  
  
  <!-- ATÉ AQUI E COLA DENTRO DO WEB-APP -->
  
</web-app>